@model IEnumerable<GreenHouse.Models.Plant>

@{
    ViewData["Title"] = "Lista de Plantas";
}

<h1>Lista de Plantas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Nova Planta</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PlantName)</th>
            <th>@Html.DisplayNameFor(model => model.SensorValue)</th>
            <th>@Html.DisplayNameFor(model => model.SensorEvent)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PlantName)</td>
                <td>@Html.DisplayFor(modelItem => item.SensorValue)</td>
                <td>@Html.DisplayFor(modelItem => item.SensorEvent)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlantName" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.PlantName" class="btn btn-sm btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.PlantName" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
